@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;600;700&display=swap");

body {
	background: #fff;
    color:000;
    margin: 0;
    font-family: 'Roboto Slab', serif;
	font-size: 16px;
    line-height: 1.2em;
}

a {
	text-decoration: none;
	color: #000
}


a:hover {
	color: #D4AF37;
}


.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

.navbar {
	background-color: #feffff;
	padding: 13px;
	width: 100%;
	position: fixed;
	top: 0px;
	box-shadow: 2px 2px 5px black;
	z-index:300;
}

.navigation {
	text-align: center;
	position: relative;
}

.navigation .logo .bruh {
	float: left;
	display: inline;
	color: #022468;
	font-weight: 300;
	font-size: 20px;
	margin: 0;
	padding:0;
	border:0;
}

.navigation ul {
	padding: 0;
	list-style: none;
	float: right;
	word-spacing: 1.5em;
	margin: 0;
	position: absolute;
	top: 15px; 
	right:0%;
	font-size: 17px;
}

.navbar li {
	display: inline;
	margin: auto;
	text-align: center;
}

li.current a {
	color: #D4AF37;
}

.clr {
	padding: 38px;
}

.hero img{
	width:100%;
	height: 550px;
	margin: 0;
	padding-bottom: 0;
	/*background-image: url('../images/hero.jpg');
	background-position: center;
	min-height: 450px;
	margin-bottom: 30px;
	background-size: cover;*/
}

.hero {
	position: relative;
}

.hero h1 {
	position: absolute; 
	top: 13%;
	left: 25%;
	text-align: center;
	color: #feffff;
	font-weight: 400;
	font-size: 7vw;
	padding: 0;
	margin-bottom: 0;
	background-color: #4768aa;
	padding: .6em .2em;
}


.hero p {
	position: absolute;
	top: 45%;
	left: 25%;
	color: #feffff;
	font-weight: 400;
	font-size: 2vw;
	line-height: 40px;
	padding-top: .3em;
}

.space {
	padding-bottom: 10px;
	padding-top: 0px;
	background-color: #fff;
}

.What-is-it {
	background-color: #fff;
	padding-bottom: 60px;
	padding-top: 50px;
}

.What-is-it p {
	font-size: 3vw;
	text-align: center;
	color: #022468;
	padding-bottom: 0em;
}

.What-is-it ul {
	padding: 0;

}

.What-is-it a {
	color: #D4AF37;
	font-size: 1.4vw;
}

.What-is-it a:hover {
	color: #022468;
}

#menu-outer {
	height: 84px;
	background: url(images/bar-bg.jpg) repeat-x;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .table {
        display: none !important;
    }
}

@media screen and (max-width: 1024px) {
    .primary {
		font-size: .4em !important;
        
    }
}

.table2 {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	padding-top: 20px;
	}
	ul#horizontal-list li {
		display: inline;
		margin-left: 3em;
			margin-right: 3em;

	}

	ul#horizontal-list2 {
		min-width: 696px;
		list-style: none;
		padding-top: 20px;
		}
		ul#horizontal-list2 li {
			display: inline;
			margin-left: 3em;
			margin-right: 3em;
		}


.KVattributes li {
	/*float: left;
	width: 20%;
	padding: 0 10px;
	box-sizing: border-box;*/
	display: inline-block;
	text-align: center;
}

.What-is-it img {
	width: 6vw;
	height: 5vw;
}



.space1 {
	background-color: #fff;
	padding-top: 10px;
}

.About-what-it-is {
	padding-top: 60px;
	background-color: #022468;
	padding-bottom: 60px;
}

.main {
	float: left;
	width: 20%;
	padding: 13px 30px;
	box-sizing: border-box;
	color: #D4AF37;
	font-size: 1.3vw;
	font-weight: 600;
}

.sidebar {
	float: right;
	width: 80%;
	color: #fff;
	font-weight: 300;
	padding: 10px 30px;
	box-sizing: border-box;
}


.wrapper {
	padding-top: 40px;
	background-color: white;
	padding-bottom: 50px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 0;
}

input[type=email] {
	align-items: center;
	padding: 20px;
	margin: 10px;
	border-radius: .7em;
	border: 2px solid black;
	font-family: 'Roboto Slab', serif;
	font-size: large;
	outline: none;
	width: 22vw;
	margin-top: 30px;
}

button[type=submit] {
	padding: 25px;
	margin: 10px;
	justify-content: center;
	border-radius: 3em;
	font-family: 'Roboto Slab', serif;
	color: #fff;
	background-color: #022468;
	border: none;
	font-size: large;
}

button[type=submit]:hover {
	cursor: pointer;
	background-color: #1D3BD1;
}

.wrapper h2 {
	text-align: center;
	/*font-weight: 400;*/
	font-size: 4em;
	padding-bottom: 15px;
	margin-bottom: 25px;
}

.wrapper p {
	font-size: .9em;
	margin-bottom: 8px;
}

.foot {
	background-color: #fff;
	display: flex;
	justify-content: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

.foot img {
	margin-left: 10px;
	margin-right: 10px;
}

iframe {
	width: 100%;
	height: 300px;
}
